<div class="card  my-3">
  <h5 class="card-header">Quick Shop</h5>
  <div class="input-group">
    <input #search type="text"
           class="form-control"
           (keyup)="searchProduct(search.value)"
           placeholder="Search for...">

    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-secondary"-->
    <!--type="button"-->
    <!--[disabled]="!search.value"-->
    <!--(click)="searchProduct(search.value)">Go!-->
    <!--</button>-->
    <!--</span>-->
  </div>
</div>